### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Archivos de compilación y ejecución
*.class
*.jar

# Directorio de salida de compilación
bin/

# Directorio de dependencias
lib/

# Archivos generados por IDEs
.idea/
.eclipse/
.vscode/

# Archivos de configuración de IDEs
*.iml
*.ipr
*.iws

# Archivos de configuración de Maven
target/

# Archivos de configuración de Gradle
build/

# Logs
*.log

# Otros archivos generados o temporales
*~